<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/home.css">
</head>
<body>
    <div class="nav-container">
        <nav>
            <img src="../public/chess-logo2.png" width="80">
            <div>
                <ul class="list-container">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/services">Serivces</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <section>
        <div class="paragraph-container">
            <h1>Lorem, ipsum!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque excepturi neque, facere magni ipsum, laborum eveniet autem corrupti, perferendis eos inventore possimus aspernatur nulla enim! Mollitia, ratione? Repellendus, esse alias!</p>
        </div>
        <img src="../public/chess.png" width="700">
    </section>
</body>
</html>